/*eslint-disable */
#app{
    padding: 0;
    margin: 0!important;
}
.lkea-bg-color{
    background-color: #003399!important;
}

.lkea-header-nav{
    height:15rem!important;
    border-radius: 0 0 50% 50%/ 0 0 35% 35%!important;
    z-index: 900;
}
.lkea-btn-link{
    float: right
}
.lkea-btn-link button{
    float: left;
    padding:40px;
    top:10px;
}

.v-btn__content{
    display: block;
}

.company-name{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top:8rem;
    text-align: center;
    font-size: 2rem;
    color: #FED102;
    z-index: 1000;
}
.lkea-map-note{
    color: #AAAAAA;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top:55rem;
    text-align: center;
    font-size: 1rem;
    z-index: 1000;
}

.v-image, .v-responsive, .v-carousel__item .theme--dark{
    height:60vh!important
}

.gal-img
{
    height: 100%!important;
}

.v-carousel__controls{
    background-color: transparent;
}